---
import '../styles/background.css';
---

<canvas id="bg-canvas"></canvas>
<canvas id="overlay-canvas"></canvas>
<div id="background-mask"></div>

<script src="../scripts/page-background.ts"></script>